* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}


/* ajuste del contenedor de datos con el menu lateral */

.grid {
    position: fixed;
    background-color: transparent;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: initial;
    transition: 2s;
    display: grid;
    grid-template-columns: 0% 100%;
}

.grid.activar {
    grid-template-columns: 20% 80%;
}

.Perfil {
    width: 100%;
    padding-top: 15px;
    margin-left: -20px;
    text-align: center;
    align-items: center;
}

.Perfil a {
    text-decoration: none;
}

.Perfil a p {
    padding-top: 5px;
    font-size: 20px;
    margin-bottom: -10px;
}

.Perfil a p sup {
    color: red;
}

.Perfil button {
    margin-top: -50px;
    background: none;
    color: #fff;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 25px;
}

.foto_perfil {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #fff;
    outline: 1px solid #fff;
    background-color: #cecece;
}


/*    Scrollbar menu lateral de usuario     */

.list_content::-webkit-scrollbar {
    width: 5px;
}

.list_content::-webkit-scrollbar-thumb {
    border: 3px outset #adadad;
    border-radius: 1px;
}


/*        Estilos del menu lateral    */

.nav {
    width: 100%;
    top: 0px;
    transition: 1s;
    position: absolute;
    margin-left: -400px;
}

.backnav {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #121212, #161616);
    overflow: auto;
}

.nav.activar {
    margin-left: 10px;
    transition: 1s;
}

.nav .menul {
    margin-left: -300px;
    width: 20%;
    height: 90%;
    padding-left: 0px;
    float: left;
    text-align: left;
    transition: 0s;
}

.nav.activar .menul {
    margin-left: 10px;
    transition: 1s;
}

.list_content {
    width: 100%;
    height: 60vh;
    margin-left: -20px;
    overflow: auto;
}

.list_item {
    margin-left: -30px;
    overflow: hidden;
}

.list_item--click {
    cursor: pointer;
}

.list_arrow {
    margin-left: auto;
    transition: .3s;
}

.arrow .list_arrow {
    transform: rotate(90deg);
    transition: transform .3s;
}

.nav_link {
    color: #fff;
    display: block;
    text-decoration: none;
}

.nav_link--inside {
    padding: 15px 0;
    text-align: center;
    margin-left: -20px;
    border-radius: 6px 0 0 6px;
    color: #fff;
}

.nav_link--inside a {
    color: #fff;
}

.nav_link--inside:hover {
    background: #c9c9c9;
    color: #000;
}

.list {
    display: grid;
    grid-template-columns: 15% 78% 5%;
    font-size: 20px;
    list-style: none;
    width: 100%;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
    padding: 0 10px;
    margin: 5px 0;
}

.list_show {
    list-style: none;
    margin-left: 20px;
    border-left: 2px solid #fff;
    list-style: none;
    transform-origin: height .4s;
    height: 0;
}

.list a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    font-size: 20px;
    z-index: 10;
}

.list.activar {
    background-color: #572364;
    color: #000;
}

.list.activar a {
    color: #000;
}


/* Fin Estilos del menu*/

.content {
    display: block;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content .fondo {
    background: url("/static/Proyecto_Ekiria/Img/fondo.jpg") no-repeat center center;
    position: absolute;
    top: 0px;
    min-height: 100%;
    background-size: cover;
    z-index: 0;
    opacity: 0.15;
    padding: 0;
    width: 100%;
    height: 100%;
}


/* Contenedor de contenido*/

@media (min-width: 950px) {
    .content.activar {
        margin-right: 0px;
        transition: 1s;
    }
    .content {
        top: 0px;
        margin-right: 0px;
        overflow: auto;
        float: right;
        transition: 0.2s;
    }
}

 ::-webkit-scrollbar-thumb:hover {
    border: 3px outset #800080;
    border-radius: 0px;
    box-shadow: inset 10px 10px 30px 0px #000000;
}


/*--------------------------------------------*/

.Logo.activar {
    position: fixed;
    margin: 10px 40%;
    top: 0px;
    z-index: 10;
}

.Logo {
    position: fixed;
    top: 10px;
    left: 70px;
    z-index: 10;
    animation-duration: 1s;
    transition: 0.5s;
}

.menu.activar {
    position: sticky;
    height: 65px;
}

.menu {
    position: sticky;
    top: 0px;
    margin: 0 auto;
    width: 100%;
    height: 65px;
    border-bottom: 2px solid black;
    background: linear-gradient(to bottom, #572364, #2f214a);
    z-index: 9;
    animation-duration: 2s;
    transition: 2s;
}

.lista img {
    width: 20px;
    height: 20px;
}

.content.activar #div {
    float: left;
    width: 100%;
    text-align: left;
}

.content #div {
    position: relative;
    top: 10px;
    float: left;
    width: 99.5%;
    text-align: left;
    overflow: auto;
    margin-left: 10px;
    animation-duration: 2s;
    transition: 2s;
    opacity: 1;
    padding: 0;
}

.content ul {
    position: static;
    width: 25%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    list-style: none;
    float: right;
    z-index: 10;
    margin-top: 10px;
    margin-right: 20px;
}

.content.activar ul {
    width: 30%;
}

.content ul .links {
    display: grid;
    grid-template-columns: 30% 60%;
}

.content ul i {
    margin-left: 40%;
    font-size: 20px;
    color: #fff;
}

.content ul div {
    margin-top: -35px;
}

.content ul div .noti-dot {
    margin-top: 0px;
}

.content ul .links .atext {
    margin-left: 5px;
}

.content ul li {
    margin-top: 10px;
}

.content ul li a {
    text-decoration: none;
    color: #fff;
}

.content .barra {
    height: 40px;
    background-color: #fff;
}


/*     Estilos del abridor del menu lateral      */

.toggle {
    position: fixed;
    top: 20px;
    bottom: 0px;
    left: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: 0.5s;
    animation: 1s;
    animation-name: toggle;
}

.toggle.activar {
    animation: 0.5s;
    left: 21%;
    animation-name: toggleA;
}

@keyframes toggle {
    to {
        transform: rotate3d(0, 3, 0, 180deg);
    }
}

@keyframes toggleA {
    to {
        transform: rotate3d(3, 3, 0, 180deg);
    }
}

.toggle i {
    position: absolute;
    color: #000;
    font-size: 25px;
    display: none;
    animation: alternate;
    animation-duration: 2s;
    transition: 2s;
}

.toggle i.abrir {
    display: block;
    color: #000000;
}

.toggle.activar i.abrir {
    display: none;
    color: #000;
}

.toggle.activar i.cerrar {
    display: block;
}


/* Creacion del modo responsive */

@media (max-width: 950px) {
    .grid {
        position: fixed;
        top: 0px;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        box-sizing: initial;
        transition: 2s;
        display: grid;
        grid-template-columns: 0% 100%;
    }
    .grid.activar {
        grid-template-columns: 25% 75%;
    }
    .content ul {
        position: static;
        width: 35%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 5px;
        list-style: none;
        float: right;
        z-index: 10;
        margin-right: 10px;
    }
    .content.activar ul {
        width: 45%;
    }
    .content ul .links {
        display: grid;
        grid-template-columns: 30% 60%;
    }
    .content ul .links i {
        margin-left: 40%;
        font-size: 20px;
    }
    .content ul .links .atext {
        margin-left: 5px;
    }
    .nav .menul {
        top: 70px;
        position: absolute;
        left: 5px;
        width: 23.2%;
        padding-left: 0px;
        float: left;
        text-align: left;
        transition: 2s;
    }
    .Logo.activar {
        left: 0;
    }
    .toggle.activar {
        left: 25%;
    }
}


/**/

@media (max-width: 700px) {
    .grid.activar {
        grid-template-columns: auto;
    }
    .Perfil {
        margin-left: 0;
    }
    .foto_perfil {
        border: 1.9px solid black;
    }
    .Perfil button {
        color: #000;
    }
    .content.activar {
        display: none;
    }
    .nav .menul {
        border-top: 1px solid black;
        top: 70px;
        left: -10px;
        margin-left: -1000px;
        width: 100%;
        padding-left: 0px;
        float: left;
        text-align: left;
        transition: 2s;
    }
    .nav .menul li {
        margin-left: 10px;
        list-style: none;
        width: 100%;
        color: #000;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: 1;
        transition: 2s;
    }
    .nav .menul .list a {
        position: relative;
        display: block;
        width: 100%;
        text-decoration: none;
        color: #fff;
        overflow: hidden;
        margin: 20px;
        font-size: 24px;
    }
    .nav .menul .list.activar a {
        color: #000;
    }
    .nav .menul li a {
        z-index: 10;
    }
    .content ul {
        width: 70%;
    }
    .Logo.activar {
        position: fixed;
        margin: 10px 20%;
        top: 0px;
        z-index: 10;
        left: 15%;
        width: 100px;
        height: 45px;
    }
    .Logo {
        position: fixed;
        top: 10px;
        left: 70px;
        z-index: 10;
        animation-duration: 2s;
        transition: 0.5s;
        width: 0;
    }
    .toggle {
        position: fixed;
        top: 10px;
        bottom: 0px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        color: #000;
        transition: 1s;
        animation: 1s;
        animation-name: toggle;
    }
    .toggle.activar {
        transition-delay: 0.5s;
        transition-duration: 0.1s;
        margin-left: 65%;
        font-size: 25px;
        animation: 2s;
        animation-name: toggleA;
    }
    @keyframes toggleA {
        from {
            transform: rotate3d(3, 3, 0, 180deg);
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .toggle.activar i.cerrar {
        color: #000;
    }
    .backnav {
        background-color: #fff;
        overflow: auto;
    }
    .nav .menul {
        margin-left: -1000px;
        width: 100%;
        height: 90%;
        padding-left: 0px;
        float: left;
        text-align: left;
        transition: 0.1s;
    }
    .nav.activar .menul {
        margin-left: 0;
        transition: 0.1s;
    }
    .list_content {
        width: 100%;
        height: 60vh;
        margin-left: -20px;
        overflow: auto;
    }
    .list_item {
        margin-left: -30px;
        overflow: hidden;
    }
    .list_item--click {
        cursor: pointer;
    }
    .list_arrow {
        margin-left: auto;
        transition: .3s;
    }
    .arrow .list_arrow {
        transform: rotate(90deg);
        transition: transform .3s;
    }
    .nav_link {
        color: #fff;
        display: block;
        margin-top: 0;
        text-decoration: none;
    }
    .nav_link--inside {
        padding: 10px 0;
        text-align: initial;
        margin-left: -50;
        border-radius: 0px;
        color: #fff;
    }
    .nav .menul .list_show a {
        color: #fff;
    }
    .nav_link--inside:hover {
        background: #c9c9c9;
        color: #000;
    }
    .list {
        display: grid;
        grid-template-columns: 5% 80% 1%;
        font-size: 30px;
        list-style: none;
        width: 90%;
        color: #fff;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        z-index: 1;
    }
    .list_show {
        list-style: none;
        margin-left: 20px;
        border-left: 2px solid #fff;
        list-style: none;
        transform-origin: height .4s;
        height: 0;
        color: #fff;
    }
    .list i {
        margin-top: 13px;
    }
    .list_show a {
        color: #fff;
    }
    .list a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #fff;
        overflow: hidden;
        font-size: 0px;
        z-index: 10;
    }
    .list.activar {
        background-color: #572364;
        color: #000;
    }
}


/* Footer*/

.footer {
    color: #fff;
    background-color: #000;
    text-decoration: underline;
    text-decoration-style: solid;
    margin-top: 5%;
    text-decoration: none;
    z-index: 15;
    bottom: 0px;
    padding: 5px;
}