.container {
  width: 50%;
  margin: 15% 25%;
  border: 2px solid black;
  padding: 10px;
  background-color: lightsalmon;
}
.container button {
  width: 98%;
  margin: 0 1%;
}
.container input {
  width: 98%;
  margin: 0 1%;
}
