.boton {
    margin-top: 20px;
    width: 100%;
}

.form {
    margin-top: 20px;
    padding: 50px;
    background-color: blueviolet;
}

.letra {
    font-size: 30px;
    color: white;
}

.form-check {
    color: white;
}

.textote {
    height: 300px;
    width: 100%;
    margin-top: 20px;
    border: 5px solid pink;
}