*{
    margin: 0;
    padding: 0;
}

.suma{
    width: 100%;
    
}
.color{
    width: 30%;
    margin-top: 10%;
    margin-left: 30%;
    padding: 5%;
    display: inline-flex;
    background-color: rgba(226, 43, 186, 0.582);
}
.num{
    margin-left: 15%;
}

.inputiva, #resultado{
    width: 100%;
    margin-bottom: 5%;

}

.imgSuma{
    width:60%;
    margin-left: 40%;
}
.titulo{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.boton{
    margin-top: 5%;
    width: 100%;
    font-size: medium;
    padding: 3%;
    background-color:rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.842);
    border-color: rgba(226, 43, 186, 0.6);
}
.boton:hover{
    background-color: rgba(134, 10, 108, 0.6);
}