.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 200px;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    width: 60%;
    margin: 5% 40%;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
}

.container input {
    box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.8);
}

.container button {
    box-shadow: 5px 5px 7px rgb(22, 25, 184);
    margin-top: 165px;
}

#texto {
    width: 201%;
    height: 200px;
    border-radius: 5px;
    box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.8);
}

h1 {
    margin-left: 10%;
}