.datos{
    margin-top: -120px;
    transition: 1s;
}
.datos.activar{
    margin-top: 0px;
    transition: 1s;
}
.togger{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    font-size: 20px;
    transition: 1s;
}
.togger.activar{
    display: block;
    width: 20px;
    height: 20px;
    top: 130px;
    right: 10px;
    font-size: 20px;
}