.boton{
    margin-top: 20px;
    width: 100%;
}

.boton:hover{
    color:white;
    transition: all 0.2s ease-out;
}

.form{
    margin-top: 20px;
    width:50%;
    position: relative;
    padding:20px;
    background-color: blueviolet;
    margin-bottom: 50px;
    top:50px;
    height: 250px;
}

.letra{
    font-size: 30px;
    color: white;
}
.tabla{
    width: 50%;
    top:150px;
}
