.boton {
    margin-top: 20px;
    width: 100%;
}

.form {
    margin-top: 20px;
    padding: 50px;
    width: 50%;
    background-color: blueviolet;
    height: 100%;
}

.letra {
    font-size: 30px;
    color: white;
}

.form-check {
    color: white;
}