.con-m{
    border-radius: 6px;
    border:solid 1px black;
    width: 40%;
    padding: 10px;
    margin:0 auto;
    text-align: center;
    background-color: rgba(7, 56, 161, 0.521);
   
}

.con-m input{
    margin: auto;
    width: 60%;
    
   
}